@media (min-width: 600px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
}
@media (min-width: 960px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}
